<launch>
  <arg name="world"  default="autoNOMOS_curved_road"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(arg world).world"/>
  </include>
  
  <node name="simple_gui" pkg="simple_gui" type="simple_gui" output="screen"/>
</launch>
