<launch>
  <arg name="world"  default="slam_test"/>
  <param name="robot_description" textfile="$(find robot_description)/automodel.xml" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(arg world).world"/>
  </include>
  
  <node name="simple_gui" pkg="simple_gui" type="simple_gui" output="screen"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bring_up)/config_files/rviz/mapping.rviz"/>

  <node name="odometry" pkg="odometry" type="odometry.py" output="screen"/>
  <node name="gmapping" pkg="gmapping" type="slam_gmapping" args="scan:=/scan" output="screen">
    <param name="map_update_interval" value="1.0" />
    <param name="maxUrange" value="5.0"/>
    <param name="linearUpdate" value="0.3"/>
    <param name="angularUpdate" value="0.2"/>
    <param name="xmin" value="-20"/>
    <param name="ymin" value="-20"/>
    <param name="xmax" value="20"/>
    <param name="ymax" value="20"/>
    <param name="maxRange" value="5.1"/>
    <param name="minimumScore" value="0.0"/>
  </node>
</launch>
